.marketPlus {
  display: flex;
  flex-direction: column;
  background-color: #ff2400;
  max-width: 1080px;
  border-radius: 50px;
  padding: 70px 30px 30px 30px;
  margin-bottom: 100px;
}

.marketPlus__information {
  display: flex;
  justify-content: space-between;
}

.marketPlus__information h2 {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 2.25rem;
  color: white;
}

.marketPlus__information img {
  width: 220px;
  height: 168px;
}

.marketPlus__link {
  text-decoration: none;
  background-color: white;
  text-align: center;
  font-size: 1rem;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  width: 96px;
  padding: 13px 30px;
}

.marketPlus__link:hover {
  background-color: #E6E6E6;
  cursor: pointer;
}

.marketPlus__link:visited {
  color: black;
}

@media screen and (max-width: 800px) {
  .marketPlus__information h2 {
    font-size: 1.8rem;
  }
  .marketPlus__link {
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .marketPlus__information img {
    width: 180px;
    height: 148px;
  }
}
