.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer img {
  width: 250px;
  height: 70px;
  margin-bottom: 16px;
}

.footer p {
  font-weight: 400;
  color: #4d4d4d;
  font-size: 1.125rem;
}